{% load static %}

<div class="carousel">
    <div class="slides" onmouseover="stopSlide()" onmouseout="restartSlide()">
        <div class="photo">
            <img src="{% static 'images/pic1.jpg' %}" alt="">
        </div>
        <div class="buttons">
            <a href="" >Find Teacher</a>
            <a href="">Find Student</a>
        </div>
    </div>
    <div class="slides" onmouseover="stopSlide()" onmouseout="restartSlide()">
        <div class="photo">
            <img src="{% static 'images/pic2.jpg' %}" alt="">
        </div>
        <div class="buttons">
            <a href="">Find Teacher</a>
            <a href="">Find Student</a>
        </div>
    </div>
    <div class="slides" onmouseover="stopSlide()" onmouseout="restartSlide()">
        <div class="photo">
            <img src="{% static 'images/pic3.jpg' %}" alt="">
        </div>
        <div class="buttons">
            <a href="">Find Teacher</a>
            <a href="">Find Student</a>
        </div>
    </div>
</div>
<script src="{% static 'Js/Carousel.js' %}"></script>
