{% extends "../Home/index.html" %}

{% block title %}Profile{% endblock title %}
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}">
<div class="profile">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="userinfo">
                    <a href="{% url 'Home:editProfile' %}" class="edit-link">Edit</a>
                    <img src="{{user.profilepic.url}}" alt="Profile Image">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>Name:</td>
                                <td>{{user.Full_name}}</td>
                            </tr>
                            <tr>
                                <td>Email:</td>
                                <td>{{user.email}}</td>
                            </tr>
                            <tr>
                                <td>Mobile:</td>
                                <td>{{user.phone_number}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <a href="{% url 'teacher:teacher_page1' %}" class="become-teacher-link">Become a Teacher</a>
                </div>
            </div>
            <div class="col-lg-8 col-md-8">
                <div class="creditinfo">
                    <div class="row ">
                        <div class="col-lg-6 col-md-6">
                            <div class="credit">
                                <h1>{{user.credit_points}}</h1>
                                <h3>Balance Credits</h3>
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="tabledata">
                <div class="col-lg-12">
                    <div class="tableheading">
                        <h4>Your Post</h4>
                    </div>
                    <div>
                        <table class="table">
                            <thead>
                                <tr>
                                    <td>Posted Date</td>
                                    <td>Student Name</td>
                                    <td>Subject</td>
                                    <td>Courses</td>
                                    <td>Description</td>
                                    <td>Contact</td>
                                    <td>Status(Click to Change)</td>
                                </tr>
                            </thead>
                            <tbody>
                                {% for t in T %}
                                <tr>
                                    <td>{{t.posted_date}}</td>
                                    <td>{{t.student_name}}</td>
                                    <td>{{t.courses}}</td>
                                    <td>{{t.subject}}</td>
                                    <td>{{t.description}}</td>
                                    <td>{{t.phone_number}}</td>
                                    {% if t.status%}
                                    <td><a href="/tuition/change_status?tuition_id={{t.id}}">Not
                                            Found</a></td>
                                    {%else%}
                                    <td><a href="/tuition/change_status?tuition_id={{t.id}}">Found</a></td>
                                    {%endif%}
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="tabledata">
                <div class="col-lg-12">
                    <div class="tableheading">
                        <h4>Your Unlocks</h4>
                    </div>
                    <div>
                        <table class="table">
                            <thead>
                                <tr>
                                    <td>Unlock Date</td>
                                    <td>Student Name</td>
                                    <td>Subject</td>
                                    <td>Courses</td>
                                    <td>Description</td>
                                    <td>Contact</td>

                                </tr>
                            </thead>
                            <tbody>
                                {% for t in UT %}
                                <tr>
                                    <td>{{t.unlock_date}}</td>
                                    <td>{{t.Tuition_id.student_name}}</td>
                                    <td>{{t.Tuition_id.courses}}</td>
                                    <td>{{t.Tuition_id.subject}}</td>
                                    <td>{{t.Tuition_id.description}}</td>
                                    <td>{{t.Tuition_id.phone_number}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="tabledata">
                <div class="col-lg-12">
                    <div class="tableheading">
                        <h4>Teacher You Unlock</h4>
                    </div>
                    <div>
                        <table class="table">
                            <thead>
                                <tr>
                                    <td>Unlock Date</td>
                                    <td>Teacher Name</td>
                                    <td>Subject</td>
                                    <td>Qualification</td>
                                    <td>Experience</td>
                                    <td>Contact</td>

                                </tr>
                            </thead>
                            <tbody>
                                {% for t in Teacher %}
                                <tr>
                                    <td>{{t.unlock_date}}</td>
                                    <td>{{t.Teacher_id.Name}}</td>
                                    <td>{{t.Teacher_id.Subject}}</td>
                                    <td>{{t.Teacher_id.Qualification}}</td>
                                    <td>{{t.Teacher_id.Experience}}</td>
                                    <td>{{t.Teacher_id.Phone_number}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        {% endblock content %}