{% load static %}

<div class="search">
    <form action="{% url 'Home:error' %}" method="post" onsubmit="return validateForm(['pincode'],'error')">
        {% csrf_token %}
        <div class="row justify-content-around">
            <div class="col-lg-1">
                <label for="pincode">Pincode</label>
            </div>
            <div class="col-lg-3">
                <input class="smallinput" type="text" name="pincode">
            </div>
            <div class="col-lg-3">
                <select class="smallinput" name="search">
                    <option value="">Select</option>
                    <option value="Tuition">Tuition</option>
                    <option value="Teacher">Teacher</option>
                </select>
            </div>
            <div class="col-lg-3">
                <button class="smallbutton" type="submit">Search</button>
            </div>
        </div>
    </form>
</div>