{% extends "../Home/index.html" %}
{% block title %}Update Profile{% endblock title %}
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/updateProfile.css' %}">

      <div class="formborder">
        <h2>Edit Your Profile</h2>
        <form  action="{% url 'Home:editProfile' %}"
          method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="col-12">
            <img src="{{user.profilepic.url}}" alt="img" id="preview-image">
            <input type="file" name="pic" onchange="previewImage(event)" >
          </div>
          <div class="col-12"></div>
          Email:{{user.email}}
          <div class="col-12">
            Contact:{{user.phone_number}}
          </div><br>
          <div class="col-12">
            <label for="">Full Name</label>
          </div>
          <div class="col-12">
            <input class="midinput" value="{{user.Full_name}}" type="text" name="name" required>
          </div>
          <div class="col-12">
            <input class="submitbutton" type="submit" value="Update Profile">
          </div>
          <p>{{error}}</p>
        </form>
      </div>

<script src="{% static 'Js/handleImage.js' %}"></script>
{% endblock content %}