{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}">

<div>
    <div class="cont">
        <div class="row justify-content-around align-items-start">
            <div class="col-md-5 forms">
                <form action="{% url 'tuition:post_tuition_page1' %}" method="post"
                    onsubmit="return validateForm(['student_name','student_phone_number','course','subject','mode','fee','description'],'error')">
                    {% csrf_token %}

                    <label for="">Student Name</label>
                    <input type="text" name="student_name" class="midinput">
                    <label for="">Phone Number</label>
                    <input type="text" name="student_phone_number" class="midinput">
                    <label for="">Courses</label>
                    <input type="text" name="course" class="midinput">
                    <label for="">Subject</label>
                    <input type="text" name="subject" class="midinput">
                    <br>

                    <label for="">Mode Of Study :</label>
                    <label for="">Online</label>
                    <input type="radio" class="form-check-input" value='online' name="mode">
                    <label for="">Offline</label>
                    <input type="radio" class="form-check-input" value='offline' name="mode"> <br>
                    <label for="">Both</label>
                    <input type="radio" class="form-check-input" value='both' name="mode"> <br>

                    <br>
                    <label for="">Fee: (per hour)</label>
                    <input type="text" class="midinput" name="fee">
                    <br>
                    <label for="">Description</label>
                    <textarea class="form-control" name="description" rows="3"></textarea>
                    <br />
                    <div class="row justify-content-around">
                        <div class="col-lg-12">
                            <input type="submit" class="submitbutton" value="Get Free Demo Class">
                        </div>
                    </div>

                </form>

            </div>
            <div class="col-md-5  forms ">
                <form  onsubmit="return validateForm(['teacher_name','teacher_subject','teacher_class','teacher_mode'],'error')"  action="{% url 'teacher:teacher_page1' %}" method="post">
                    {% csrf_token %}
                    <div>
                        <label for=""> Name</label>
                        <input type="text" name="teacher_name" class="midinput">
                        <label for="">Subject</label>
                        <input type="text" name="teacher_subject" class="midinput">
                        <label for="">Class</label>
                        <input type="text" name="teacher_class" class="midinput">

                        <br>

                        <label for="">Mode Of Teaching :</label><br>
                        <label for="">Online</label>
                        <input type="radio" class="form-check-input" value='online' name="teacher_mode">
                        <label for="">Offline</label>
                        <input type="radio" class="form-check-input" value='offline' name="teacher_mode">
                        <label for="">Both</label>
                        <input type="radio" class="form-check-input" value='both' name="teacher_mode">


                        <div class="row justify-content-around">
                            <div class="col-lg-12">
                                <input type="submit" class="submitbutton" value="Become Teacher">
                            </div>

                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>

</div>