.slides {
    position: relative;
    display: none;

}

.buttons {

    display: inline-block;
    position: absolute;
    bottom: 25%;
    left: 10%;
}

.photo img {
    height: 40vh;
    width: 100%;
}

.buttons a {
    text-decoration: none;
    font-size: 20px;
    margin: 2px 5px;
    padding: 7px;
    background-color: var(--Dark);
    color: white;
    border-radius: 5px;
    font-weight: 400;
}

.buttons a:hover {
    background-color: white;
    color: var(--Light);
}