{% extends "../Home/index.html" %}

{% block title %}Teacher{% endblock title %}
{% block content %}


{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}">
<script src="{% static 'Js/Api.js' %}" defer></script>
{% comment %} <div class="formcontainer">
    <form 
    onsubmit="return validateForm(['pincode','locality',],'error')"
    action="{% url 'tuition:post_tuition_page2' %}" method="post">
        {% csrf_token %}
        <div class="row justify-content-around">
            <div class="col-md-5 forms">
                <div>
                    <label for="">Pincode</label>
                    <input type="number" name="pincode" class="form-control"  
                   placeholder="Enter Pincode" onchange="pincode()"/>
                    <label for="">Locality</label>
                    <input type="text" name="locality" class="form-control">
 
                    <div class="row justify-content-around">
                        <div class="col-lg-11">
                            <input type="submit" class="submitbutton" value="Get Free Demo Class">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div> {% endcomment %}


<div class="registration-container">
    <div class="registration-left">
        <div class="features">
            <h1><span class="features-heading">Find Your Perfect Teacher!</span></h1>
            <p>Everyone learns differently. Post your tuition and find teachers who understand your unique needs.</P>
        </div>
        <div class="feature">
        </div>
    </div>
    <div class="registration-right">
        <div class="registration-form">
            <h2>Post Tuition</h2>
            <form  action="{% url 'tuition:post_tuition_page2' %}" method="post">
                {% csrf_token %}

                <label for="">Pincode</label>
                <input type="number" name="pincode" required pattern="[0-9]{6,}" title="Please enter a valid 6-digit pincode">
                
                <label for="">Locality</label>
                <input type="text" name="locality" required >
                <p style="color: red;">{{error}}</p>
                <button type="submit">Submit</button>
        </div>
        </form>
    </div>
    
</div>

</div>
<script src="{% static 'Js/Api.js' %}"></script>
{% endblock content %}